:root{
	--darcula-fg-col: #A6B4C4;
	--darcula-bg-light: #3C3F41;
	--darcula-bg-dark: #2b2b2b;
	--darcula-yellow: #BBB529;
	--darcula-blue: #3E86A0;
	--darcula-orange: #C55C2D;
	--darcula-magenta: #AF00AF;
	--darcula-green: #FFC76D;
	--darcula-cream: #499C54;
}

body {
	font-family: monospace;
	font-size: 120%;
	display: grid;
	grid-template-columns: 5% 90& 5%;
	color: var(--darcula-fg-col);
	background-color: var(--darcula-bg-light);
}

@media only screen and (min-width: 600px) {
	/* tablet screen */
	body {grid-template-columns: 10% 80% 10%;
	font-size: 130%;}
}

@media only screen and (min-width: 768px){
	/* desktop screen */
	body {grid-template-columns: 16.67% 66.66% 16.66%;
	font-size: 150%}
}

.content {
	grid-column-start: 2;
	grid-column-end: 3;
	background-color: var(--darcula-bg-dark);
	padding-left: 20px;
	padding-right: 20px;
	box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 10px 30px 0 rgba(0, 0, 0, 0.19);
}

#header {/*font-size: 48px;*/
	text-align:center;
	color: var(--darcula-yellow);
	/* padding-bottom: 1cm; */
}

nav {
	margin: 0px;position: fixed;width:100%;
	margin-left: -20px;;
	background-color: var(--darcula-bg-light);
	padding-top: 0px; padding-bottom: 0px;
	border-bottom-style: solid;
	border-bottom-width: 4px;
	border-bottom-color:  var(--darcula-bg-light);
}
nav > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
nav > ul > li {
	display: inline-block;
	margin:0;
	background-color: var(--darcula-bg-light);
}
nav > ul > li > a {
	color: var(--darcula-fg-col);
	text-decoration: none;
	background-color: var(--darcula-bg-light);
	margin:0;
	padding: 1vw 3vw;
}
nav > ul > li > a:hover {
	background-color: var(--darcula-bg-dark);
}
.menu-item-selected {
	padding: 1vw 3vw;
	border-bottom-style: solid;
	border-bottom-width: 4px;
	border-bottom-color: var(--darcula-blue);
}
.heading {
	padding-top: .5em;
	padding-bottom: .25em;
	color: var(--darcula-orange);
	font-weight: bold;
}

b {
	color: var(--darcula-blue);
}

p > a:link {color: var(--darcula-magenta);}
p > a:visited { color: var(--darcula-green);}
p > a:hover {color: var(--darcula-cream);}
p > a:active {color: #FFFFFF;}
