:root{
	--darcula-fg-col: #A6B4C4;
	--darcula-bg-light: #3C3F41;
	--darcula-bg-dark: #2b2b2b;
	--darcula-yellow: #BBB529;
	--darcula-blue: #3E86A0;
	--darcula-orange: #C55C2D;
	--darcula-magenta: #AF00AF;
	--darcula-green: #FFC76D;
	--darcula-cream: #499C54;
}

body {
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
	color: var(--darcula-fg-col);
	background-color: var(--darcula-bg-light);
}

.content {
	grid-column-start: 2;
	grid-column-end: 3;
	background-color: var(--darcula-bg-dark);
	padding-left: 20px;
	padding-right: 20px;
	box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 10px 30px 0 rgba(0, 0, 0, 0.19);
}

#header {font-size: 48px;
	text-align:center;
	color: var(--darcula-yellow);
	/* padding-bottom: 1cm; */
}

nav {
	margin: 5px;
	background-color: var(--darcula-bg-light);
	padding-top: 8px; padding-bottom: 8px;
	border-bottom-style: solid;
	border-bottom-width: 4px;
	border-bottom-color:  var(--darcula-bg-light);
}
nav > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
nav > ul > li {
	display: inline;
	margin:0;padding:0;
	min-width: 100px;
}
nav > ul > li > a {
	color: var(--darcula-fg-col);
	text-decoration: none;
}
.menu-item {
	text-align: center;
	background-color: var(--darcula-bg-light);
	margin: 0;
	padding: 8px;
}
.menu-item:hover {
	background-color: var(--darcula-bg-dark);
}
.menu-item-selected {
	border-bottom-style: solid;
	border-bottom-width: 4px;
	border-bottom-color: var(--darcula-blue);
}
.heading {line-height: 3.0;
	color: var(--darcula-orange);
	font-weight: bold;
}

b {
	color: var(--darcula-blue);
}

p > a:link {color: var(--darcula-magenta);}
p > a:visited { color: var(--darcula-green);}
p > a:hover {color: var(--darcula-cream);}
p > a:active {color: #FFFFFF;}
